@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ciudad Guatemala<br />
    Guatemala.
    21252326<br />
</address>

<address>
    <strong>Soporte Tecnico:</strong>   <a href="mailto:Support@example.com">Miestacionamiento@gmail.com.gt</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketingmiestacinionamiento@gmail.com</a>
</address>