@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mi estacionamiento</h1>
    <p class="lead">Sistema de control de un estacionamiento de la organizacion O.R.G.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pagos</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Pago", "Index", "Pagoes")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facturacion</h2>
        <p><a class="btn btn-default" @Html.ActionLink("Factura", "Index", "Registroes")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservar parqueo</h2>
       <p><a class="btn btn-default" @Html.ActionLink("Registro", "Index", "Parqueos")</a></p>
    </div>
</div>